@import "./reset.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./theme.css";

html{
  height: 100%;
  width: 100%;
  @apply h-full bg-gray-900
}

body, #root {
  height: 100%;
  width: 100%;
  @apply h-full
}

* {
  @apply text-white rounded-xl font-normal
}

h1 {
  @apply text-4xl font-normal tracking-wide
}
h2 {
  @apply text-3xl font-normal tracking-wide
}
h3 {
  @apply text-2xl font-normal tracking-wide
}
h4 {
  @apply text-xl font-normal tracking-wide
}
h5 {
  @apply text-lg font-normal tracking-wide
}
h6 {
  @apply text-base font-normal tracking-wide
}
span {
  @apply text-base font-normal tracking-wide
}
.caption {
  @apply text-sm font-normal tracking-wide
}
