@import "./reset.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./theme.css";

html{
  height: 100%;
  width: 100%;
  @apply h-full bg-gray-900
}

body, #root {
  height: 100%;
  width: 100%;
  @apply h-full
}

* {
  @apply text-white rounded-xl font-normal
}

h1, .h1 {
  @apply text-4xl  tracking-wide
}
h2, .h2 {
  @apply text-3xl  tracking-wide
}
h3, .h3 {
  @apply text-2xl  tracking-wide
}
h4, .h4 {
  @apply text-xl  tracking-wide
}
h5, .h5 {
  @apply text-lg  tracking-wide
}
h6, .h6 {
  @apply text-base  tracking-wide
}
span, .span {
  @apply text-base tracking-wide
}
.caption1 {
  @apply text-sm  tracking-wide
}
.caption2 {
  @apply text-xs  tracking-wide
}
.container {
  @apply p-2 md:p-0
}
input {
  @apply block w-full border-0 py-1.5 px-4   ring-inset 
  ring-gray-300 focus:ring-1 focus:ring-inset bg-gray-700
   focus:ring-white sm:text-sm sm:leading-6
}

label {
  @apply block text-sm font-medium leading-6
}