*,
*:before,
*:after {
  box-sizing: border-box;
}
.ant-input-number {
  width: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  font-weight: 700 !important;
}
:focus-visible {
  outline: none;
}